# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
*.manifest
*.spec

# Virtual environment
env/
venv/
ENV/
.venv/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
migrations/

# IDEs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db
