{% load static %}
{% include 'header.html' %}

<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">
            <!-- Main content here -->
             <div class="row">
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Add Supervisor</h5>
                                        {% if messages %}
                                            {% for message in messages %}
                                                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                                                    {{ message }}
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        <form method="POST" action="{% url 'add_supervisor' %}">  
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3">
                                                        <input type="text" name="first_name" class="form-control" id="floatingFirstnameInput" placeholder="Enter Your First Name">
                                                        <label for="floatingFirstnameInput">First Name</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3">
                                                        <input type="text" name="last_name" class="form-control" id="floatingLastnameInput" placeholder="Enter Your Last Name">
                                                        <label for="floatingLastnameInput">Last Name</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3">
                                                        <input type="email"  name="email" class="form-control" id="floatingemailInput" placeholder="Enter Email address">
                                                        <label for="floatingemailInput">Email address</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3">
                                                        <select name="department" class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                                                            <option selected value="IT">IT</option>
                                                            <option value="business">Business</option>
                                                            <option value="others">Others</option>
                                                        </select>
                                                        <label for="floatingSelectGrid">Select Department</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3">
                                                        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Enter Your First Name">
                                                        <label for="floatingPassword">Password</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3">
                                                        <input type="password" name="password2" class="form-control" id="floatingPassword" placeholder="Enter Your Last Name">
                                                        <label for="floatingPassword">Confirm Password</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                                <button type="submit" class="btn btn-primary w-md">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- end card body -->
                                </div>
                                <!-- end card -->
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->













        </div>

    </div>
    <!-- End Page-content -->

</div>
<!-- end main content-->
{% include 'footer.html' %}