<!-- Sidebar Menu -->
<ul class="metismenu list-unstyled" id="side-menu">
  <li>
    <a href="{% url 'admin_dashboard' %}" class="waves-effect">
      <i class="mdi mdi-view-dashboard"></i>
      <span>Dashboard</span>
    </a>
  </li>
  <li>
    <a href="{% url 'student_admin' %}" class="waves-effect">
      <i class="mdi mdi-account-group"></i>
      <span>Students</span>
    </a>
  </li>
  <li>
    <a href="{% url 'add_student' %}" class="waves-effect">
      <i class="mdi mdi-account-plus"></i>
      <span>Add Student</span>
    </a>
  </li>
  <li>
    <a href="{% url 'supervisor_admin' %}" class="waves-effect">
      <i class="mdi mdi-account-tie"></i>
      <span>Supervisors</span>
    </a>
  </li>
  <li>
    <a href="{% url 'add_supervisor' %}" class="waves-effect">
      <i class="mdi mdi-account-tie-plus"></i>
      <span>Add Supervisor</span>
    </a>
  </li>
  <li>
    <a href="{% url 'assessment_schema' %}" class="waves-effect">
      <i class="mdi mdi-file-document"></i>
      <span>Manage Assessments</span>
    </a>
  </li>
  <li>
    <a href="{% url 'edit_profile' %}" class="waves-effect">
      <i class="mdi mdi-account-edit"></i>
      <span>Profile</span>
    </a>
  </li>
  <li>
    <a href="{% url 'change_password' %}" class="waves-effect">
      <i class="mdi mdi-lock"></i>
      <span>Change Password</span>
    </a>
  </li>
  <li>
    <a href="{% url 'logout' %}" class="waves-effect">
      <i class="mdi mdi-logout"></i>
      <span>Logout</span>
    </a>
  </li>
</ul>
