{% load static %}
<!doctype html>
<html lang="en">
{% include 'nav-links.html' %}
    <link href="{% static 'assets/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <!-- App Css-->
    <link href="{% static 'assets/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />


</head>

<body data-topbar="colored" data-layout="horizontal">
    <!-- Begin page -->
    <div id="layout-wrapper">


        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">
                    <!-- LOGO -->
                    <div class="navbar-brand-box">
                        <a href="{% url 'homepage' %}" class="logo logo-dark">
                            <span class="logo-sm">
                                <img src="{% static 'assets/images/logo-sm-dark.png' %}" alt="logo-sm-dark" height="24">
                            </span>
                            <span class="logo-lg">
                                <img src="{% static 'assets/images/logo-dark.png' %}" alt="logo-dark" height="22">
                            </span>
                        </a>

                        <a href="{% url 'homepage' %}" class="logo logo-light">
                            <span class="logo-sm">
                                <img src="{% static 'assets/images/logo-sm-light.png' %}" alt="logo-sm-light"
                                    height="24">
                            </span>
                            <span class="logo-lg">
                                <img src="{% static 'assets/images/logo-light.png' %}" alt="logo-light" height="22">
                            </span>
                        </a>
                    </div>

                    <button type="button" class="btn btn-sm px-3 font-size-24 d-lg-none header-item"
                        data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                        <i class="ri-menu-2-line align-middle"></i>
                    </button>

                    <!-- start page title -->
                    <div class="page-title-box align-self-center d-none d-md-block">
                        <h4 class="page-title mb-0">Horizontal</h4>
                    </div>
                    <!-- end page title -->
                </div>

                <div class="d-flex">
                    

                    

                    

                    {% if request.user.is_authenticated %}
                    <div class="dropdown d-inline-block">
                        <button type="button" class="btn header-item noti-icon waves-effect"
                            id="page-header-notifications-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ri-notification-3-line"></i>
                            <span class="noti-dot"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                            aria-labelledby="page-header-notifications-dropdown">
                            <div class="p-3">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h6 class="m-0"> Notifications </h6>
                                    </div>
                                    <div class="col-auto">
                                        <a href="#!" class="small"> View All</a>
                                    </div>
                                </div>
                            </div>
                            <div data-simplebar style="max-height: 230px;">
                                <a href="" class="text-reset notification-item">
                                    <div class="d-flex">
                                        <div class="avatar-xs me-3">
                                            <span class="avatar-title bg-primary rounded-circle font-size-16">
                                                <i class="ri-shopping-cart-line"></i>
                                            </span>
                                        </div>
                                        <div class="flex-1">
                                            <h6 class="mb-1">Your order is placed</h6>
                                            <div class="font-size-12 text-muted">
                                                <p class="mb-1">If several languages coalesce the grammar</p>
                                                <p class="mb-0"><i class="mdi mdi-clock-outline"></i> 3 min ago</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                
                                
                            </div>
                           
                        </div>
                    </div>


                    <div class="dropdown d-inline-block user-dropdown">
                        <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="rounded-circle header-profile-user avatar-sm"
                                src="{% static 'assets/images/users/avatar-2.jpg' %}" alt="Header Avatar">
                            <span class="d-none d-xl-inline-block ms-1">{{request.user}}</span>
                            <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a class="dropdown-item" href="#"><i
                                    class="mdi mdi-account-circle text-muted font-size-16 align-middle me-1"></i> <span
                                    class="align-middle">Profile</span></a>
                            <a class="dropdown-item" href="{% url 'logout' %}"><i
                                    class="mdi mdi-lock text-muted font-size-16 align-middle me-1"></i> <span
                                    class="align-middle">Logout</span></a>
                        </div>
                    </div>
                    {% else %}
                    <div class="dropdown d-inline-block">
                        <div class="page-title-box align-self-center d-none d-md-block">
                    <a href="{% url 'login' %}"><h4 class="page-title mb-0">Login</h4></a>
                  </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </header>
        {% if request.user.is_authenticated %}
        <div class="topnav">
            <div class="container-fluid">
                <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

                    <div class="collapse navbar-collapse" id="topnav-menu-content">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'home' %}">
                                    <i class="uim uim-airplay"></i> Home
                                </a>
                            </li>
                            {% if request.user.is_superuser %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'student_admin' %}">
                                    <i class="uim uim-airplay"></i> Students
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'supervisor_admin' %}">
                                    <i class="uim uim-airplay"></i> Supervisors
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'supervisor_admin' %}">
                                    <i class="uim uim-airplay"></i> Assessment 
                                </a>
                            </li>
                            {% endif %}


                            {% if request.user.is_staff %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'project_supervisor' %}">
                                    <i class="uim uim-airplay"></i> Projects
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="uim uim-airplay"></i> Applications
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="uim uim-airplay"></i> Grading 
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        {% endif %}