{% load static %}
<!doctype html>
<html lang="en">
{% include 'nav-links.html' %}
</head>

<body data-topbar="colored" data-layout="horizontal">
    <!-- Begin page -->
    <div id="layout-wrapper">
        <header id="page-topbar">
            <div class="navbar-header">
                <div class="d-flex">
                    <!-- LOGO -->
                    <div class="navbar-brand-box">
                        <a href="{% url 'homepage' %}" class="logo logo-dark">
                            <span class="logo-sm">
                                <img src="{% static 'new-log.png' %}" alt="logo-sm-dark" height="24">
                            </span>
                            <span class="logo-lg">
                                <img src="{% static 'new-logo.png' %}" alt="logo-dark" height="22">
                            </span>
                        </a>

                        <a href="{% url 'homepage' %}" class="logo logo-light">
                            <span class="logo-sm">
                                <img src="{% static 'new-logo.png' %}" alt="logo-sm-light"
                                    height="24">
                            </span>
                            <span class="logo-lg">
                                <img src="{% static 'new-logo.png' %}" alt="logo-light" height="22">
                            </span>
                        </a>
                    </div>

                    <button type="button" class="btn btn-sm px-3 font-size-24 d-lg-none header-item"
                        data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                        <i class="ri-menu-2-line align-middle"></i>
                    </button>

                    <!-- start page title -->
                    <div class="page-title-box align-self-center d-none d-md-block">
                        <h4 class="page-title mb-0">TMS</h4>
                    </div>
                    <!-- end page title -->
                </div>

                <div class="d-flex">
                    <div class="dropdown d-inline-block">
                        <div class="page-title-box align-self-center d-none d-md-block">
                            <a href="{% url 'login' %}">
                                <h4 class="page-title mb-0">Login</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="page-content">
            <div class="container-fluid">
                <div class="container d-flex justify-content-center p-2">
                    <div class="row w-100">
                        <div class="col-md-8 mx-auto">
                            <form class="d-flex" method="get" role="search">
                                <!-- Filter Dropdown -->
                                <select class="form-select me-2" name="topic_type" style="max-width: 200px;">
                                    <option value="" {% if not selected_topic_type %}selected{% endif %}>All Types</option>
                                    <option value="Research" {% if selected_topic_type == 'Research' %}selected{% endif %}>Research</option>
                                    <option value="Development" {% if selected_topic_type == 'Development' %}selected{% endif %}>Development</option>
                                    <option value="R and D" {% if selected_topic_type == 'R and D' %}selected{% endif %}>R and D</option>
                                </select>


                                <!-- Search Input -->
                                <input class="form-control me-2" type="search" name="q" placeholder="Search Projects..."
                                    value="{{ query|default:'' }}" aria-label="Search">

                                <!-- Search Button -->
                                <button class="btn btn-primary" type="submit">Search</button>
                                {% if selected_topic_type or  query %}
                                    <button type="button" class="btn btn-secondary mx-2" onclick="window.location.href='{% url 'homepage' %}'">
                                        Clear
                                    </button>
                                {% endif %}
                            </form>

                        </div>
                    </div>
                </div>



                <!-- Main content here -->
                <div class="container mt-4">
                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        {% if projects %}
                        {% for project in projects %}
                        <div class="col">
                            <div class="card shadow-sm h-100">
                                <div class="card-body">
                                    <a href="{% url 'project_detail' project.id %}">

                                        <h5 class="card-title">{{ project.title }}</h5>
                                    </a>
                                    <p class="mb-0 mt-2 text-muted"> Project Supervisor - <span
                                            class="badge badge-soft-success mb-0">
                                            {{project.supervisor.first_name}} {{ project.supervisor.last_name }}</span>
                                    </p>

                                    <!-- Tags -->
                                    <div class="mb-2">
                                        {% for tag in project.tags.all %}
                                        <span class="badge bg-secondary">{{ tag.name }}</span>
                                        {% endfor %}
                                    </div>

                                    <!-- Truncated Description -->
                                    <p class="card-text">
                                        {{ project.description|truncatechars:150|safe }}
                                    </p>
                                    <div class="row text-center mb-3">
                                        <div class="col-md-4">
                                            <strong>Availability:</strong><br>

                                            {% if project.availability == "available" %}
                                            <span class="badge bg-success">{{ project.availability }}</span>
                                            {% else %}
                                            <span class="badge bg-danger">{{ project.availability }}</span>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-4">
                                            <strong>Last Modified:</strong><br>
                                            {{ project.last_modified|date:"d M Y" }}
                                        </div>
                                        <div class="col-md-4">
                                            <strong>Project Type:</strong><br>
                                            {{ project.project_type }}
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="container d-flex flex-column justify-content-center align-items-center p-2">
                            <div class="col-12">
                                <div class="alert alert-info text-center" role="alert">
                                    No projects found matching your criteria.
                                </div>
                            </div>
                            <a href="{% url 'homepage' %}">
                                <button class="btn btn-primary mt-3">Back to Projects</button>
                            </a>
                        </div>

                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
        <!-- End Page-content -->
</body>
{% include 'footer.html' %}

</html>